<img class="img-responsive bg-location" data-ng-src="{{user.navigation.currentArea.imagepath}}" />
<div class="game-container" data-ng-class='{"container-fluid": showmenu, "container": !showmenu}'>
    <div class="row fill-height-100">
        <div class="fill-height-100" data-ng-class='{"col-md-4": showmenu, "col-sm-3": showmenu, "col-sm-12": !showmenu }'>
            <div class="col-xs-4 fill-height-90 paddywak">
                <div class="col-sm-offset-4 col-sm-8 text-center">Attributes</div>
                <a class="col-sm-12" href="" data-uib-tooltip="Health" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                    <div class="col-xs-4">
                        <img class="img-responsive inline" src="images/public/icon/heart-beats.png" />
                    </div>
                    <div class="col-xs-8">
                        {{user.attributes.currentHealth}}
                        /
                        {{user.attributes.health}}
                    </div>
                </a>
                <a class="col-sm-12" href="" data-uib-tooltip="Mana" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                    <div class="col-xs-4">
                        <img class="img-responsive inline" src="images/public/icon/star-pupil.png" />
                    </div>
                    <div class="col-xs-8">
                        {{user.attributes.currentMana}}
                        /
                        {{user.attributes.mana}}
                    </div>
                </a>
                <a class="col-sm-12" href="" data-uib-tooltip="Stanima" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                    <div class="col-xs-4">
                        <img class="img-responsive inline" src="images/public/icon/power-lightning.png" />
                    </div>
                    <div class="col-xs-8">
                        {{user.attributes.currentStanima}}
                        /
                        {{user.attributes.stanima}}
                    </div>
                </a>
                <a class="col-sm-12" href="" data-uib-tooltip="Strength" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                    <div class="col-xs-4">
                        <img class="img-responsive inline" src="images/public/icon/muscle-up.png" />
                    </div>
                    <div class="col-xs-8">
                        {{user.attributes.currentStrength}}
                        /
                        {{user.attributes.strength}}
                    </div>
                </a>
                <a class="col-sm-12" href="" data-uib-tooltip="Toughness" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                    <div class="col-xs-4">
                        <img class="img-responsive inline" src="images/public/icon/kevlar.png" />
                    </div>
                    <div class="col-xs-8">
                        {{user.attributes.currentToughness}}
                        /
                        {{user.attributes.toughness}}
                    </div>
                </a>
            </div>
            <div class="col-xs-8 fill-height-90 scroll-flow paddywak">
                <p data-ng-repeat="message in messages track by $index"><b>{{message}}</b></p>
                <p data-ng-repeat="message in oldMessages track by $index">{{message}}</p>
                <p data-ng-repeat="message in olderMessages track by $index" style="opacity: 0.8">{{message}}</p>
                <p data-ng-repeat="message in oldestMessages track by $index" style="opacity: 0.65">{{message}}</p>
            </div>
            <div class="col-xs-12 fill-height-10">
                <div class="col-xs-3">
                    <button data-ng-disabled="!user.isInCombat" type="button" class="btn btn-block" data-ng-click="submit('attack')"><img style="float:left"  class="img-responsive" src="images/public/icon/quick-slash.png" /><span> Attack</span></button>
                </div>
                <div class="col-xs-3">
                    <div class="dropdown dropup">
                        <button data-ng-disabled="user.isInCombat" type="button" class="btn dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="float:left" aria-label="Go To" class="img-responsive" src="images/public/icon/worried-eyes.png" />
                            Go To <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li data-ng-hide="user.navigation.currentRoom || !user.navigation.currentLocation.isExit" style="cursor: pointer" class="btn" data-ng-click="do('go', area)" data-ng-repeat="area in user.navigation.areaNames">
                                {{area}}
                            </li>
                            <div style="border-bottom: 1px solid black"></div>
                            <li data-ng-hide="user.navigation.currentRoom" style="cursor: pointer" class="btn" data-ng-click="do('go', location.name)" data-ng-repeat="location in user.navigation.currentArea.locations" data-ng-class="{market: location.hasMarket, exit: location.isExit}">
                                {{location.name}}
                            </li>
                            <div style="border-bottom: 1px solid black"></div>
                            <li style="cursor: pointer" data-ng-click="do('go', room.name)" class="btn" data-ng-repeat="room in user.navigation.currentLocation.rooms" data-ng-class="{entrance: room.isExit}">
                                {{room.name}}
                            </li>
                            <div style="border-bottom: 1px solid black"></div>
                            <li data-ng-show="user.navigation.currentRoom.isExit" style="cursor:pointer" class="btn" data-ng-click="do('exit', '')">
                                EXIT
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3">
                    <div class="dropdown dropup">
                        <button type="button" class="btn dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="float:left" aria-label="Cast" class="img-responsive" src="images/public/icon/magic-swirl.png" />
                            Cast <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="cursor: pointer" class="btn" data-ng-click="do('cast', spell.name)" data-ng-repeat="spell in user.spells">
                                {{spell.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-block" data-ng-click="user.navigation.currentLocation.questGiver ? do('quest', 'start') : submit('quest')">
                    <span>
                        <img style="float:left"  class="img-responsive" src="images/public/icon/bookmarklet.png" />{{user.navigation.currentLocation.questGiver ? 'Start Quest' : 'View Quests'}}
                    </span>
                    </button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-block" data-ng-click="togglemenu()">{{showmenu ? 'Hide ' : 'Show '}} Menu</button>
                </div>
                <div class="col-xs-3">
                    <button data-ng-disabled="!user.navigation.currentRoom || !user.isInCombat" class="btn btn-block" data-ng-click="submit('explore')"><img style="float:left"  class="img-responsive" src="images/public/icon/scroll-unfurled.png" /><span> Explore</span></button>
                </div>
                <div class="col-xs-3">
                    <button data-ng-disabled="!user.navigation.currentLocation.hasMarket || user.isInCombat" class="btn btn-block" data-ng-click="submit('rest')"><img style="float:left"  class="img-responsive" src="images/public/icon/bed.png" /><span> Rest</span></button>
                </div>
            </div>
        </div>
        <div data-ng-show="showmenu" class="col-md-8 col-sm-9 fill-height-100">
            <div class="row">
                <h3 class="text-capitalize text-info">
                    {{user.navigation.currentArea.name}} / {{user.navigation.currentLocation.name}} / {{user.navigation.currentRoom.name}}
                </h3>
            </div>
            <uib-tabset active="activeJustified">
                <uib-tab>
                    <uib-tab-heading>
                        <span><image class="img-responsive" src="images/public/icon/swap-bag.png" />Bag</span>
                    </uib-tab-heading>
                    <div class="row">
                        <div class="col-sm-12 col-md-3 row">
                            <div class="col-sm-12">
                                <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                                    <li data-ng-class="{'active': viewTab == 'potions'}">
                                        <a class="btn-lg" data-ng-click="changeTab('potions')" href="">Potions</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'armors'}">
                                        <a class="btn-lg" data-ng-click="changeTab('armors')" href="">Armors</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'weapons'}">
                                        <a class="btn-lg" data-ng-click="changeTab('weapons')" href="">Weapons</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'spells'}">
                                        <a class="btn-lg" data-ng-click="changeTab('spells')" href="">Spells</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'relics'}">
                                        <a class="btn-lg" data-ng-click="changeTab('relics')" href="">Relics</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/gold-bar.png" alt="Gold" data-uib-tooltip="Gold" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.inventory.gold}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.head.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/crested-helmet.png" alt="Helmet" data-uib-tooltip="Helmet" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.head.name}}
                                        <small data-ng-show="user.equipment.head" style="display:block">Dur: {{user.equipment.head.durability}} | AR: {{user.equipment.head.armorRating}}</small>
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.torso.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/armor-vest.png" alt="Armor" data-uib-tooltip="Armor" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.torso.name}}
                                        <small data-ng-show="user.equipment.torso" style="display:block">Dur: {{user.equipment.torso.durability}} | AR: {{user.equipment.torso.armorRating}}</small>
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.legs.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/armored-pants.png" alt="Leg Armor" data-uib-tooltip="Leg Armor" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.legs.name}}
                                        <small data-ng-show="user.equipment.legs" style="display:block">Dur: {{user.equipment.legs.durability}} | AR: {{user.equipment.legs.armorRating}}</small>
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.feet.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/boots.png" alt="Boots" data-uib-tooltip="Boots" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.feet.name}}
                                        <small data-ng-show="user.equipment.feet" style="display:block">Dur: {{user.equipment.feet.durability}} | AR: {{user.equipment.feet.armorRating}}</small>
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.arm.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/shield.png" alt="Shield" data-uib-tooltip="Shield" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.arm.name}}
                                        <small data-ng-show="user.equipment.arm" style="display:block">Dur: {{user.equipment.arm.durability}} | AR: {{user.equipment.arm.armorRating}}</small>
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.weapon.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/plain-dagger.png" alt="Weapon" data-uib-tooltip="Weapon" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.weapon.name}}
                                        <small data-ng-show="user.equipment.weapon" style="display:block">Dur: {{user.equipment.weapon.durability}} | Dmg: {{user.equipment.weapon.damage}} | CD: {{user.equipment.weapon.criticalDamage}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-9">
                            <div class="tab-content">
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'potions' }">
                                    <div class="col-sm-4" ng-repeat="iter in user.inventory.potions track by $index">
                                        <button class="btn btn-block btn-cluster" data-ng-click="do('use', iter.name)" uib-tooltip-template=" 'invTooltipTemplate.html' " tooltip-placement=" bottom">
                                            {{iter.name}}
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'armors' }">
                                    <div class="col-sm-4" ng-repeat="iter in user.inventory.armors track by $index">
                                        <button class="btn btn-block btn-cluster" data-ng-click="do('equip', iter.name)" uib-tooltip-template="'invTooltipTemplate.html'" tooltip-placement="bottom">
                                            {{iter.name}}
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'weapons' }">
                                    <div class="col-sm-4"  ng-repeat="iter in user.inventory.weapons track by $index">
                                        <button class="btn btn-block btn-cluster" data-ng-click="do('equip', iter.name)" uib-tooltip-template=" 'invTooltipTemplate.html' " tooltip-placement=" bottom">
                                            {{iter.name}}
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'spells' }">
                                    <div class="col-sm-4" ng-repeat="iter in user.spells">
                                        <button class="btn btn-block btn-cluster" data-ng-click="do('cast', iter.name)" uib-tooltip-template="'invTooltipTemplate.html'" tooltip-placement="bottom">
                                            {{iter.name}}
                                        </button>
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'relics' }">
                                    <div class="col-sm-4" ng-repeat="iter in user.inventory.relics track by $index">
                                        <button  class="btn btn-block btn-cluster" uib-tooltip-template="'invTooltipTemplate.html'" tooltip-placement="bottom">
                                            {{iter.name}}
                                    </button></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab data-ng-show="user.navigation.currentLocation.hasMarket" select="getBuyList()">
                    <uib-tab-heading>
                        <span class="text-center"><img class="img-responsive" src="images/public/icon/knapsack.png" />Shop</span>
                    </uib-tab-heading>
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <th>Item</th>
                                    <th>Stats</th>
                                    <th>Durability</th>
                                    <th>Cost</th>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" data-ng-repeat="item in buylist" data-ng-click="do('buy', item[0])">
                                        <td>{{item[0]}}</td>
                                        <td>{{item[2]}}</td>
                                        <td>{{item[3]}}</td>
                                        <td>{{item[1]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <span class="text-center"><img class="img-responsive game-icon-32" src="images/public/icon/id-card.png">Profile</span>
                    </uib-tab-heading>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-responsive">
                                    <thead>
                                        <th><strong>Title </strong></th>
                                        <th>{{user.title.name}}</th>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td><strong>Exploring Since </strong></td>
                                            <td>{{user.stats.joinDate | date}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Monsters Brutally Slain </strong></td>
                                            <td>{{user.stats.monstersKilled | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Current Level </strong></td>
                                            <td>{{user.attributes.level | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total Experience </strong></td>
                                            <td>{{user.attributes.experience | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Areas Explored </strong></td>
                                            <td>{{user.stats.areasDiscovered | number:0}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12">
                                <h2>Your Achievements</h2>
                                <div ng-repeat="a in user.achievements track by $index">
                                    <p><strong>{{a.name}}</strong></p>
                                    <p>{{a.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<script type="text/ng-template" id="invTooltipTemplate.html">
    <ul data-ng-if="iter != undefined">
        <li style="text-align:left" data-ng-repeat="i in propertyList(iter)">
            {{i}}
        </li>
    </ul>
</script>