<nav class="nav navbar navbar-default navbar-fixed-top" style="padding-top:50px; z-index:9;" role="navigation" ng-if=" !layout ">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#gamenavbar" aria-controls="gamenavbar">
                <span class="sr-only">Toggle Stats Menu</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand">
                {{user.FullName}}
            </div>
        </div>
        <div id="gamenavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="" data-uib-tooltip="Health" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                        <img style="float:left" class="img-responsive" src="images/public/icon/heart-beats.png" /><span> {{user.attributes.currentHealth}}/{{user.attributes.health}}</span>
                    </a>
                </li>
                <li>
                    <a href="" data-uib-tooltip="Mana" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                        <img style ="float:left" class="img-responsive" src="images/public/icon/star-pupil.png" /><span> {{user.attributes.currentMana}} / {{user.attributes.mana}}</span>
                    </a>
                </li>
                <li>
                    <a href="" data-uib-tooltip="Stamina" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                        <img style ="float:left" class="img-responsive" src="images/public/icon/power-lightning.png" /><span> {{user.attributes.currentStanima}} / {{user.attributes.stanima}}</span>
                    </a>
                </li>
                <li>
                    <a href="" data-uib-tooltip="Strength" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                        <img style ="float:left" class="img-responsive" src="images/public/icon/muscle-up.png" /><span> {{user.attributes.currentStrength}} / {{user.attributes.strength}}</span>
                    </a>
                </li>
                <li>
                    <a href="" data-uib-tooltip="Toughness" data-tooltip-placement="bottom" data-tooltip-trigger="mouseenter">
                        <img style ="float:left" class="img-responsive" src="images/public/icon/kevlar.png" /><span> {{user.attributes.currentToughness}} / {{user.attributes.toughness}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<img class="img-responsive bg-location" data-ng-src="{{user.navigation.currentArea.imagepath}}" />
<div style="padding-top:64px;" class="container-fluid">
    <div class="row">
        <div class="col-xs-6">
            <p data-ng-repeat="message in reverse(messages) track by $index"><b>{{message}}</b></p>
        </div>
        <div class="col-xs-6">
            <div class="row">
                <div class="col-xs-3">
                    <button type="button" class="btn btn-block" data-ng-click="submit('attack')"><img style="float:left"  class="img-responsive" src="images/public/icon/quick-slash.png" /><span> Attack</span></button>
                </div>
                <div class="col-xs-3">
                    <div class="dropdown">
                        <button type="button" class="btn dropdown-toggle btn-block" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img style="float:left"  class="img-responsive" src="images/public/icon/magic-swirl.png" />
                            Cast <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li style="cursor: pointer" data-ng-click="do('cast', spell.name)" data-ng-repeat="spell in user.spells">
                                {{spell.name}}
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-block" data-ng-click="submit('quest')"><span><img style="float:left"  class="img-responsive" src="images/public/icon/bookmarklet.png" /> Current Quests</span></button>
                </div>
                <div class="col-xs-3">
                    <button type="button" class="btn btn-block" data-ng-click="togglemenu()">{{showmenu ? 'Hide ' : 'Show '}} Menu</button>
                </div>
            </div>
            <uib-tabset data-ng-show="showmenu" active="activeJustified">
                <uib-tab>
                    <uib-tab-heading>
                        <span class="text-center"><img class="img-responsive" src="images/public/icon/treasure-map.png" />Map</span>
                    </uib-tab-heading>
                    <div class="container-fluid">
                        <div class="row">
                            <h3 class="text-capitalize text-info">
                                {{user.navigation.currentArea.name}} / {{user.navigation.currentLocation.name}} / {{user.navigation.currentRoom.name}}
                            </h3>
                        </div>
                        <div class="row">
                            <div class="col-xs-3"><button class="btn btn-block" data-ng-click="submit('explore')"><img style="float:left"  class="img-responsive" src="images/public/icon/scroll-unfurled.png" /><span> Explore</span></a></div>
                            <div class="col-xs-3"><button class="btn btn-block" data-ng-click="submit('rest')"><img style="float:left"  class="img-responsive" src="images/public/icon/bed.png" /><span> Rest</span></a></div>
                            <div class="col-xs-3"><button class="btn btn-block" data-ng-click="submit('whereami')"><img style="float:left"  class="img-responsive" src="images/public/icon/worried-eyes.png" /><span> Where Am I?</span></a></div>
                            <div class="col-xs-3"><button class="btn btn-block" data-ng-click="do('quest', 'start')"><img style="float:left"  class="img-responsive" src="images/public/icon/tied-scroll.png" /><span> Accept Quest</span></a></div>
                        </div>
                        <div class="row">
                            <h3>Available Areas</h3>
                            <div class="col-sm-3" data-ng-show="user.navigation.currentLocation.isExit">
                                <div style="cursor: pointer" data-ng-click="do('go', area)" ng-repeat="area in temphcodeareas">
                                    {{area}}
                                </div>
                            </div>
                            <p data-ng-hide="user.navigation.currentLocation.isExit">
                                You are not in a Location where you may travel to new Areas.
                            </p>
                        </div>
                        <div class="row">
                            <h3>Available Locations</h3>
                            <div class="col-sm-3">
                                <div style="cursor: pointer" data-ng-click="do('go', location.name)" ng-repeat="location in user.navigation.currentArea.locations" ng-class="{market: location.hasMarket, exit: location.isExit}">
                                    {{location.name}}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h3>Available Rooms</h3>
                            <button data-ng-show="user.navigation.currentRoom.isExit" type="button" class="btn" data-ng-click="do('exit', '')"><img style="float:left"  class="img-responsive" src="images/public/icon/exit-door.png" /></button>
                            <div class="col-sm-3">
                                <div style="cursor: pointer" data-ng-click="do('go', room.name)" ng-repeat="room in user.navigation.currentLocation.rooms" ng-class="{entrance: room.isExit}">
                                    {{room.name}}
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <span><image class="img-responsive" src="images/public/icon/swap-bag.png" />Bag</span>
                    </uib-tab-heading>
                    <div class="row">
                        <div class="col-sm-3 row">
                            <div class="col-sm-12">
                                <ul class="nav nav-tabs nav-stacked nav-pills" role="tablist">
                                    <li data-ng-class="{'active': viewTab == 'potions'}">
                                        <a class="btn-lg" data-ng-click="changeTab('potions')" href="">Potions</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'armors'}">
                                        <a class="btn-lg" data-ng-click="changeTab('armors')" href="">Armors</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'weapons'}">
                                        <a class="btn-lg" data-ng-click="changeTab('weapons')" href="">Weapons</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'spells'}">
                                        <a class="btn-lg" data-ng-click="changeTab('spells')" href="">Spells</a>
                                    </li>
                                    <li data-ng-class="{'active': viewTab == 'relics'}">
                                        <a class="btn-lg" data-ng-click="changeTab('relics')" href="">Relics</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/gold-bar.png" alt="Gold" data-uib-tooltip="Gold" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.inventory.gold}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.head.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/crested-helmet.png" alt="Helmet" data-uib-tooltip="Helmet" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.head.name}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.torso.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/armor-vest.png" alt="Armor" data-uib-tooltip="Armor" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.torso.name}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.legs.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/armored-pants.png" alt="Leg Armor" data-uib-tooltip="Leg Armor" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.legs.name}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.feet.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/boots.png" alt="Boots" data-uib-tooltip="Boots" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.feet.name}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.arm.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="images/public/icon/shield.png" alt="Shield" data-uib-tooltip="Shield" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.arm.name}}
                                    </div>
                                </div>
                                <div class="media" style="cursor: pointer" ng-click="do('unequip', user.equipment.weapon.name)">
                                    <div class="media-left media-middle">
                                        <a href="">
                                            <img class="media-object" src="Images/public/icon/plain-dagger.png" alt="Weapon" data-uib-tooltip="Weapon" data-tooltip-placement="left" data-tooltip-trigger="mouseenter">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        {{user.equipment.weapon.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab-content">
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'potions' }">
                                    <div class="col-sm-4" data-ng-click="do('use', iter.name)" uib-tooltip-template=" 'invTooltipTemplate.html' " tooltip-placement=" bottom" ng-repeat="iter in user.inventory.potions track by $index">
                                        {{iter.name}}
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'armors' }">
                                    <div  class="col-sm-4" data-ng-click="do('equip', iter.name)" uib-tooltip-template="'invTooltipTemplate.html'" tooltip-placement="bottom" ng-repeat="iter in user.inventory.armors track by $index">
                                        {{iter.name}}
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'weapons' }">
                                    <div  class="col-sm-4" data-ng-click="do('equip', iter.name)" uib-tooltip-template=" 'invTooltipTemplate.html' " tooltip-placement=" bottom" ng-repeat="iter in user.inventory.weapons track by $index">
                                        {{iter.name}}
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'spells' }">
                                    <div  class="col-sm-4" data-ng-click="do('cast', iter.name)" uib-tooltip-template="'invTooltipTemplate.html'" tooltip-placement="bottom" ng-repeat="iter in user.spells">
                                        {{iter.name}}
                                    </div>
                                </div>
                                <div class="tab-pane row" data-ng-class="{ 'active': viewTab === 'relics' }">
                                    <div  class="col-sm-4" uib-tooltip-template="'invTooltipTemplate.html'" tooltip-placement="bottom" ng-repeat="iter in user.inventory.relics track by $index">
                                        {{iter.name}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab data-ng-show="user.navigation.currentLocation.hasMarket" select="getBuyList()">
                    <uib-tab-heading>
                        <span class="text-center"><img class="img-responsive" src="images/public/icon/knapsack.png" />Shop</span>
                    </uib-tab-heading>
                    <div class="container-fluid">
                        <div class="row">
                            <table class="table table-hover">
                                <thead>
                                    <th>Item</th>
                                    <th>Cost</th>
                                </thead>
                                <tbody>
                                    <tr style="cursor: pointer" data-ng-repeat="item in buylist" data-ng-click="do('buy', item[0])">
                                        <td>{{item[0]}}</td>
                                        <td>{{item[1]}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab>
                    <uib-tab-heading>
                        <span class="text-center"><img class="img-responsive game-icon-32" src="images/public/icon/id-card.png">Profile</span>
                    </uib-tab-heading>
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-responsive">
                                    <thead>
                                        <th><strong>Title </strong></th>
                                        <th>{{user.title.name}}</th>
                                    </thead>
                                        <tbody>
                                        <tr>
                                            <td><strong>Exploring Since </strong></td>
                                            <td>{{user.stats.joinDate | date}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Monsters Brutally Slain </strong></td>
                                            <td>{{user.stats.monstersKilled | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Current Level </strong></td>
                                            <td>{{user.attributes.level | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Total Experience </strong></td>
                                            <td>{{user.attributes.experience | number:0}}</td>
                                        </tr>
                                        <tr>
                                            <td><strong>Areas Explored </strong></td>
                                            <td>{{user.stats.areasDiscovered | number:0}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-sm-12">
                                <h2>Your Achievements</h2>
                                <div ng-repeat="a in user.achievements track by $index">
                                    <p><strong>{{a.name}}</strong></p>
                                    <p>{{a.description}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
<script type="text/ng-template" id="invTooltipTemplate.html">
    <ul data-ng-if="iter != undefined">
        <li style="text-align:left" data-ng-repeat="i in propertyList(iter)">
            {{i}}
        </li>
    </ul>
</script>