div.container.game-container {
  height: 100%;
  max-height: 100%;
  padding-top: 0;
}

div.container-fluid.game-container {
  height: 100%;
  padding-top: 0;
}

div.paddywak {
  padding-top: 8px;
}

.fill-height-90 {
  height: 90%;
  max-height: 90%;
}

.fill-height-10 {
  height: 10%;
  max-height: 10%;
}

.fill-height-100 {
  height: 100%;
  max-height: 100%;
}

.scroll-flow {
  overflow-x: auto;
}

button.btn.btn-block.btn-cluster {
  margin-top: 0.5em;
}