.entrance {
  color: green;
}

.market {
  color: dodgerblue;
}

.exit {
  color: red;
}

@media (min-width: 992px) {
  .bg-location {
    opacity: 0.65;
    position: fixed;
    padding-top: 30px;
  }
}

@media (max-width: 991px) {
  .bg-location {
    opacity: 0.65;
    position: fixed;
    padding-top: 60px;
  }
}
