<div>
    <div class="modal-header">
        Answer Riddle to Register
    </div>
    <div class="modal-body">
        <h3>{{riddleVM.Question}}</h3>
        <p data-ng-show="waiting">Loading challenge, please wait.</p>
        <form class="form-horizontal" data-ng-valid data-ng-hide="waiting">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="creds">Your Answer</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="creds" data-ng-model="riddleVM.Answer" required />
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="submit" class="btn btn-success" data-ng-click="submit()">Answer!</button>
            <button type="submit" class="btn btn-danger" data-ng-click="cancel()">Quit</button>
        </div>
    </div>
</div>