<div class="row">
    <h2>What Exactly is AdventureQuestGame?</h2><br />
    <p>AdventureGameQuest is an old school text-based adventure with a modern look and totally browser based! What is a text-based adventure? Well, adventurer, I am glad you asked. A text-based adventure is like a really cool pick your own adventure. This game allows you to explore a beautiful world and collect rare relics. This will certianly be your best adventure yet! No flashy graphics, only story, fun, and adventure here!</p><br />
    <h3>Sounds Awesome! How do I Join?</h3><br />
    <p>Simple, Adventurer! <a href="#/signup">Just join now!</a></p><br />
    <h3>I'm Sold! How do I play?</h3><br />
    <p>Playing the game is pretty simple. Just read the <a href="#/manual">manual</a>.</p>
</div>