<div class="row">
    <div class="col-sm-12">
        <p>Hello Gameplaying Community,</p>
        <p>
            This page is created to announce a game design competition for this game. The competition is simple, create a short story based quest line that falls in line with the quest flow of the game. Before I continue, there will be three winners selected from the competition. The winning quests will be included in the game as a playable quest line and credit for assissting in the devleopment of the game on the website.
            There are several categories that will be judged for this competition. These categories are flow, balance, and originality. Flow is judged on how well the story of the quest fits together with the actual quest objectives as well as how the quests go together when leading from one to the other. Balance is the difficulty progression of the quests as the player completes them. Finally, originality is the cumalitive story line of the quests. The latter includes, characters, places, monsters, and all of the other exciting elements of an epic.
        </p>
        <br />
        <p>
            Now that we have those details out of the way, there are several rules which I will outline below.
        </p>
        <ol>
            <li>Submissions must be made to alpha-adventuregamequest@outlook.com with the subject line of "Alpha Game Quest Contest"</li>
            <li>Each entrant must define a grand total of 50 Quests</li>
            <li>
                Quests have the following structure:<ol>

                    <li>
                        Quest Giver
                        <ol>
                            <li>Name of the Quest Giver</li>
                            <li>A description of the quest giver</li>
                            <li>The location a quest giver is in</li>
                            <li>The quests that must be completed to unlock this quest giver</li>
                            <li>The quest that quest giver gives</li>
                        </ol>
                    </li>
                    <li>
                        Quest
                        <ol>

                            <li>The name of the quest</li>
                            <li>A description of the quest (this is mostly the story part)</li>
                            <li>Quest brief - Follows the syntax of verb, number, what.</li>
                            <li>
                                Quest Type
                                <ol>
                                    <li>Collect</li>
                                    <li>Slay</li>
                                    <li>Travel To</li>
                                </ol>
                            </li>
                            <li>Quests that may be triggered after this one is completed (optional)</li>
                            <li>Rewards: Score, Experience, Gold</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Finally, a high level overview of your collection of quests. This includes the full story, where the quests fit in, and anything else you find useful. (Essentially, a short story)</li>
            <li>Full list of the linear progression (or not so linear progression ;) ) of the quests, each one numbered</li>
            <li>The deadline is February 27, 2015 and the finalists (top 10) will be posted on the website by March 6, 2015. The winners will be announced April 10, 2015.</li>
        </ol>

        <p>With all the nitty gritty out of the way, I do have some notes to make about the submissions. These notes are listed as follows:</p>
        <ol>
            <li>*Slight* Deviation of quest structure are encouraged. By slight, I mean the types of quests, as well as rewards. Be creative - not crazy. Remember, it is a text based RPG.</li>
            <li>Questions are encouraged in email at the submission address with the subject line "Alpha Game Quest Contest Inquiry"</li>
            <li>Spelling and grammar are encouraged to be correct</li>
            <li>English is my primary language, so I encourage submissions in English, but will attempt to go through some online translator if I must, the internet is a world community and I will not impose language restrictions. I poorly read German as a secondary language.</li>
        </ol>
        <p>I look forward to your submissions and am very excited for the opportunity to do this for the game development community. If you want to get a feel for the game before getting started, <a href="#/signup">join now for free</a> and play for a bit at the games website.</p>
    </div>
</div>