<div class="row">
    <div class="col-sm-8">
        <h3 class="jumbotron text-uppercase">The Crew</h3>
        <h4 class="text-primary">Programming</h4>
        <p>Martin Hollstein</p>
        <h4 class="text-primary">Design</h4>
        <p>Game Design Contest Winner</p>
        <h4 class="text-primary">Art</h4>
        <p>Art Contest Winner</p>
    </div>
    <div class="col-sm-4">
        <h3 class="jumbotron text-uppercase">Special Thanks</h3>
        <p>Game Development Communities</p>
        <p>You, Yah, You!</p>
    </div>
    <div class="col-sm-12">
        <h3 class="jumbotron text-uppercase">Extra Special Thanks</h3>
        <p>Shout out to my supportive family, friends, and loving fiance!</p>
    </div>
</div>