<div class="row">
    <div class="jumbotron col-sm-12">
        <h1>Prepare For the Greatest Adventure</h1>
    </div>
    <div class="col-sm-12">
        <!--<img src="../Images/public/Untitled.png" alt="Adventure Quest Game Banner" class="img-responsive" />-->
        <a href="#/signup" class="btn btn-success btn-lg btn-block">Start the Adventure!</a>
    </div>
    <div class="col-sm-12 col-md-4">
        <!--<a href="#/events">
            <img src="../Images/public/Untitled.png" alt="Adventure Quest Game Banner" class="img-responsive" />
        </a>-->
        <h3>Adventure</h3>
        <p>Prepare to embark on a quest of unparalleled porportions. The world is one you know not, rife with danger and filled with treasure. The adventures only begin there.</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <!--<a href="#/ranks">
            <img src="../Images/public/Untitled.png" alt="Adventure Quest Game Banner" class="img-responsive" />
        </a>-->
        <h3>Competition</h3>
        <p>Battle across the known worlds to compete for the title of King. Only the best adventurers will succeed, and many more will perish. Are you up for the challenge?</p>
    </div>
    <div class="col-sm-12 col-md-4">
        <!--<a href="#/signup">
            <img src="../Images/public/Untitled.png" alt="Adventure Quest Game Banner" class="img-responsive" />
        </a>-->
        <h3>Emotion</h3>
        <p>Deep story driven quests drive your adventure across the continents. Aid old men acheive thier dreams, save innocents in the fight for good and evil, deny your temptations. So many choices, so many paths, who will you become?</p>
    </div>

</div>
<div class="row"><center><div class="col-sm-12 alert alert-warning">This site uses cookies.</div></center></div>
